/LectureSlides/*.zargo~
/Codedemos/VisitorPattern/nbproject/private/
/Codedemos/VisitorPattern/dist/
/Codedemos/VisitorPattern/build/
/Codedemos/VisitorPattern/nbproject/
/Codedemos/VisitorPattern/.classpath
/Codedemos/VisitorPattern/.project
/Codedemos/VisitorPattern/build.xml
/Codedemos/CommandPattern/nbproject/private/
/Codedemos/CommandPattern/build/
/Codedemos/CommandPattern/dist/
/Codedemos/CommandPattern/nbproject/
/Codedemos/CommandPattern/.classpath
/Codedemos/CommandPattern/.project
/Codedemos/CommandPattern/build.xml
/Codedemos/Memento/nbproject/private/
/Codedemos/Memento/dist/
/Codedemos/Memento/build/
/Codedemos/Memento/nbproject/
/Codedemos/Memento/.classpath
/Codedemos/Memento/.project
/Codedemos/Memento/build.xml
/Codedemos/EnumerationsCreationalPatterns/nbproject/private/
/Codedemos/EnumerationsCreationalPatterns/dist/
/Codedemos/EnumerationsCreationalPatterns/build/
/Codedemos/EnumerationsCreationalPatterns/nbproject/
/Codedemos/EnumerationsCreationalPatterns/.classpath
/Codedemos/EnumerationsCreationalPatterns/.project
/Codedemos/EnumerationsCreationalPatterns/build.xml
/Codedemos/ExceptionDemo/nbproject/private/
/Codedemos/ExceptionDemo/dist/
/Codedemos/ExceptionDemo/build/
/Codedemos/ExceptionDemo/nbproject/
/Codedemos/ExceptionDemo/.classpath
/Codedemos/ExceptionDemo/.project
/Codedemos/ExceptionDemo/build.xml
/Codedemos/IteratorGenericsCompositeDecorator/nbproject/private/
/Codedemos/IteratorGenericsCompositeDecorator/dist/
/Codedemos/IteratorGenericsCompositeDecorator/build/
/Codedemos/IteratorGenericsCompositeDecorator/nbproject/
/Codedemos/IteratorGenericsCompositeDecorator/.classpath
/Codedemos/IteratorGenericsCompositeDecorator/.project
/Codedemos/IteratorGenericsCompositeDecorator/build.xml
.vs/
/.vs/ProjectSettings.json
.vs
